.app-gradient-overlay {
  background: linear-gradient(to right, rgba(2, 0, 67, 1), rgba(2, 0, 67, 0.3));
}
.banner-gradient-overlay {
  background: linear-gradient(
    to bottom,
    rgba(0, 193, 157, 0),
    rgba(2, 0, 67, 0.47)
  );
}

.swiper-pagination {
  position: inherit !important;
}

.mySwiper .swiper-pagination-bullet {
  background-color: #000 !important;
  margin-top: 20px !important;
}

.mySwiper .swiper-pagination-bullet-active {
  background-color: #ffc637 !important;
  margin-top: 20px !important;
}
